<div class="max-w-xs rounded overflow-hidden shadow-lg">
  <img
    class="w-auto"
    src="https://logowik.com/content/uploads/images/google-tasks7052.logowik.com.webp"
    alt="TaskIcon"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ this.task()?.nombre }}</div>
    <p class="text-gray-700 text-base">
      Duración : {{ this.task()?.duracion }}
    </p>
    <p class="text-gray-700 text-base">Creador : {{ this.task()?.creador }}</p>
    <p class="text-gray-700 text-base">
      Usuarios Asignados : {{ this.task()?.usuarios }}
    </p>
  </div>
  @if (showLink()) {
    <a
      class="text-center block border border-blue-500 rounded-b-lg py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white"
      [routerLink]="['/tasks', this.task()?.id_tarea]"
    >
      Ver Tarea
    </a>
  }
</div>
